
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}
table {
    border: 2px solid white;
    color: #ffffff; /* Цвет текста */

}
td {
    padding: 10px;
    width: 50px;
    vertical-align: bottom;
}
.a{
    text-decoration: none;
   color: #ff7d82;
}
